body {
	font: 11pt verdana;
	color: #ecf0f1;
	background-color: #95a5a6;
	overflow-y: hidden;
	margin: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

summary {
	font: 14pt verdana;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	outline-color: #2c3e50;
}

table {
	color: black;
}

caption {
	color: #2c3e50;
}

img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gchart {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.google-visualization-tooltip {
	color: black;
}

/* Style the list */
ul.tab {
    list-style-type: none;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: #2c3e50;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 10pt;
}

/* Style the links inside the list items */
ul.tab li div {
    display: inline-block;
    color: #ecf0f1;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    font-size: 10pt;
}

/* Style the form inside the list items */
input {
    display: inline-block;
    color: #2c3e50;
    font-size: 10pt;
    vertical-align: middle;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #f1c40f;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
	display: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #ecf0f1;
	color: #2c3e50;
	width: 98.5%;
	height: 88%;
}

div.tabcontent {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	overflow-y: scroll;
	overflow-x: visible;
}
.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

